* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	position: absolute;
}

.logo {	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 1%;
	height: 10%;
	z-index: 1;
}

main {
	position: fixed;
}

#map {
	width: 100vw; 
	height: 100vh;
	z-index: -1;
}

.captions {
	position: fixed;
	bottom: 2%;
	left: 2%;

	padding: 1rem 2rem; 
	border-radius: 10px;
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	box-shadow: -2px 2px 15px 5px rgba(0,0,0,0.37);
}

.captions .captions-title {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}	

.captions .content {
	margin-top: 1.25rem;

	display: flex;
	gap: 2rem;
}

.captions .content p {
	font-size: 1.25rem;
}

.captions ul {
	margin-top: 1rem;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.captions ul li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	height: 2rem;
	font-size: 1rem;
}

.captions ul li img{
	height: 1.5rem;
}

@media screen and (max-width: 425px) {
	.captions {
		left: 2%;
		right: 2%;
		padding: 0.75rem;
	}

	.captions .captions-title {
		font-size: 1.25rem;
	}

	.captions .content {
		margin-top: 0.75rem;
	
		display: flex;
		justify-content: space-around;
	}

	.captions .content p {
		font-size: 1rem;
	}

	.captions ul {
		margin-top: .75rem;

		gap: 0.5rem;
	}

	.captions ul li {
		height: 1.2rem;
		font-size: 0.8rem;
	}

	.captions ul li img{
		height: 1.25rem;
	}
}

