* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	position: absolute;
}

.logo {	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 1%;
	height: 10%;
	z-index: 1;
}

main {
	position: fixed;
}

#map {
	width: 100vw; 
	height: 100vh;
	z-index: -1;
}

.open {
	position: fixed;
	bottom: 2%;
	left: 2%;

	background: none;
}

.open img {
	height: 3rem;
}

.open img:hover {
	cursor: pointer;	
	opacity: .8;
	transition: opacity ease .15s .15s;
}

.captions {
	position: absolute;
	left: -30%;
	bottom: -30%;

	padding: 1rem 2rem; 
	border-radius: 10px;
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	box-shadow: -2px 2px 15px 5px rgba(0,0,0,0.37);

	transition: left ease .15s .15s, bottom ease .15s .15s, opacity ease .15s .15s, transform .15s;
}

.captions.show {
	left: 2%;
	bottom: 2%;
	opacity: 1;
}

@keyframes open {
	0%   {left: 0%; bottom: 0%;}
	12.5% {left: .25%; bottom: .25%;}
	25%  {left: .5%; bottom: .5%;}
	37.5%  {left: .75%; bottom: .75%;}
	50%  {left: 1%; bottom: 1%;}
	62.5%  {left: 1.25%; bottom: 1.25%;}
	75%  {left: 1.5%; bottom: 1.5%;}
	87.5%  {left: 1.75%; bottom: 1.75%;}
	100% {left: 2%; bottom: 2%;}
}

.captions .captions-title {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}	

.captions .captions-title button {
	background: none;
	border: none;
}

.captions .captions-title button:hover {
	cursor: pointer;
	opacity: .6;
	transition: .2s all;
}

.captions .captions-title button img {
	height: 1rem;
}

.captions .content {
	margin-top: 1.25rem;

	display: flex;
	gap: 2rem;
}

.captions .content p {
	font-size: 1.25rem;
}

.captions ul {
	margin-top: 1rem;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.captions ul li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	height: 2rem;
	font-size: 1rem;
}

.captions ul li img{
	height: 1.5rem;
}

@media screen and (max-width: 425px) {
	.captions {
		left: 2%;
		right: 2%;
		padding: 0.75rem;
	}

	.captions .captions-title {
		font-size: 1.25rem;
	}

	.captions .content {
		margin-top: 0.75rem;
	
		display: flex;
		justify-content: space-around;
	}

	.captions .content p {
		font-size: 1rem;
	}

	.captions ul {
		margin-top: .75rem;

		gap: 0.5rem;
	}

	.captions ul li {
		height: 1.2rem;
		font-size: 0.8rem;
	}

	.captions ul li img{
		height: 1.25rem;
	}
}

