* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	position: absolute;
}

.logo {	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 1%;
	height: 10%;
	z-index: 1;
}

main {
	position: fixed;
}

#map {
	width: 100vw; 
	height: 100vh;
	z-index: -1;
}

.open {
	position: fixed;
	bottom: 2.5vh;
	left: 2.5vw;

	background: none;
}

.open img {
	height: 3.5rem;
}

.open img:hover {
	cursor: pointer;	
	opacity: .8;
	transition: .2s all;
}

.captions {
	position: fixed;
	left: -42vw;
	bottom: -42vh;
	opacity: .2;

	padding: 1rem 2rem; 
	border-radius: 10px;
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	box-shadow: -2px 2px 15px 5px rgba(0,0,0,0.37);

	transition: left ease .15s .15s, bottom ease .15s .15s, opacity ease .2s .2s, transform .15s;
}

.captions.show {
	left: 2vw;
	bottom: 2.5vh;
	opacity: 1;
}

.captions .captions-title {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}	

.captions .captions-title button {
	background: none;
	border: none;
}

.captions .captions-title button:hover {
	cursor: pointer;
	opacity: .6;
	transition: .2s all;
}

.captions .captions-title button img {
	height: 1rem;
}

.captions .content {
	margin-top: 1.25rem;

	display: flex;
	gap: 4rem;
}

.captions .content p {
	font-size: 1.25rem;
}

.captions ul {
	margin-top: 1rem;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.captions ul li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	height: 2rem;
	font-size: 1rem;
}

.captions ul li img{
	height: 1.5rem;
}

@media screen and (max-width: 425px) {
	.open {
		margin-left: 2.5vw;
		/* margin-bottom: -1vh;
		bottom: 2vh; */
	}

	.captions {
		right: 5vw;
		margin-left: 2.5vw;
		padding: 0.75rem;
	}

	.captions .captions-title {
		font-size: 1.25rem;
	}

	.captions .content {
		margin-top: 0.75rem;
		
		display: flex;
		gap: 2rem;
		justify-content: space-around;
	}

	.captions .content p {
		font-size: 1rem;
	}

	.captions ul {
		margin-top: .75rem;

		gap: 0.5rem;
	}

	.captions ul li {
		height: 1.2rem;
		font-size: 0.8rem;
	}

	.captions ul li img{
		height: 1.25rem;
	}
}

